/* You can add global styles to this file, and also import other style files */
$color_accent: #d43861;
$color_pointed: #0594c4;

html{
  min-height: 100%;
  background: #fcf7ea; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #fcf7ea 0%, #cedbd4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #fcf7ea 0%,#cedbd4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #fcf7ea 0%,#cedbd4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf7ea', endColorstr='#cedbd4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */  
}

body {
  background: initial;
  margin-top: 0px;
  margin-bottom: 10px;
}

.input-group {
  margin-bottom: 15px;
}

.card{
  border: hidden;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.1);
  
  &.narrow{
    width: 500px;
  }
}

.header-main{
  color: white;
  font-weight: bold;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e77676+0,bc526c+100 */
  background: #e77676; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #e77676 0%, #bc526c 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #e77676 0%,#bc526c 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #e77676 0%,#bc526c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e77676', endColorstr='#bc526c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.floating{
  margin-left: auto;
  margin-right: auto;
}

@mixin horizontal-gradient($from, $to, $stop: 100%) {
  /* fallback/image non-cover color */
  background-color: $from;

  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient(left, $from 0%, $to $stop);

  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, $from), color-stop($stop, $to));

  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient(left, $from 0%, $to $stop);

  /* Opera 11.10+ */
  background-image: -o-linear-gradient(left, $from 0%, $to $stop);

  /* IE10+ */
  background: -ms-linear-gradient(left, $from 0%, $to $stop);

  /* Standard */
  background: linear-gradient(to right, $from 0%, $to $stop);

  /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=1 );
}

@mixin main-gradient{
  @include horizontal-gradient(#a63e63, #e96d6d)
}