/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
// Plus imports for other components in your app.
$material-typography: mat-typography-config( $font-family: "Roboto, 'Open Sans', 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans KR', 'Malgun Gothic', sans-serif");
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($material-typography);
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$candy-app-primary: mat-palette($mat-teal, 400, 200, 600);
$candy-app-accent: mat-palette($mat-orange, 500, A100, A400);
// The warn palette is optional (defaults to red).
$candy-app-warn: mat-palette($mat-red);
// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);
@media (min-width: 1200px) {
  .container {
    width: 960px;
  }
}

$color_accent: #ff814f;
$color_accent_light: #ff9870;
$color_pointed: #2cbbbb;
$color_pointed_darker: #20acac;
$color_dark_gray: #575757;
$visualization_encoded_color: #109ed7;
$visualization_encoded_color_thicker: #077baa;
$visualization_heatmap_color_lightest: #cceb77;
$visualization_heatmap_color_darkest: #2387a0;
$visualization_heatmap_color_overflow: #173958;
@mixin horizontal-gradient($from, $to, $stop: 100%) {
  /* fallback/image non-cover color */
  background-color: $from;
  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient(left, $from 0%, $to $stop);
  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, $from), color-stop($stop, $to));
  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient(left, $from 0%, $to $stop);
  /* Opera 11.10+ */
  background-image: -o-linear-gradient(left, $from 0%, $to $stop);
  /* IE10+ */
  background: -ms-linear-gradient(left, $from 0%, $to $stop);
  /* Standard */
  background: linear-gradient(to right, $from 0%, $to $stop);
  /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to', GradientType=1);
}

@mixin main-gradient {
  @include horizontal-gradient(#a63e63, #e96d6d)
}

@mixin pointed-gradient {
  @include horizontal-gradient(#16afa3, #65d1c0)
}

@mixin pointed-gradient-darker {
  @include horizontal-gradient(#158d83, #4fbeac)
}

@import "~nouislider/distribute/nouislider.min.css";
nouislider {
  padding-right: 12px;
  padding-left: 12px;
}

.noUi-horizontal {
  height: 10px;
  .noUi-handle {
    width: 24px;
    height: 24px;
    left: -12px;
    right: -12px;
    top: -9px;
    border: hidden;
    border-radius: 500px;
    background: $color_accent_light;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  }
  .noUi-tooltip {
    transform: translate(-50%, 0);
    left: 50%;
    bottom: 120%;
  }
}

html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
  right: -12px;
}

.noUi-target {
  background: #E7E7E7;
  border-radius: 16px;
  border: none;
}

.noUi-connect {
  background: $color_accent;
}

.noUi-tooltip {
  display: block;
  position: absolute;
  border: none;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 1px 5px;
  text-align: center;
  white-space: nowrap;
  font-size: 0.7em;
}

.noUi-handle::before,
.noUi-handle::after {
  display: none;
}

.tooltip {
  .arrow {}
  .tooltip-inner {
    max-width: 300px;
    /* If max-width does not work, try using width instead */
    table.tooltip-content {
      th,
      td {
        text-align: left;
        vertical-align: top;
        padding-bottom: 0.5rem;
      }
      th {
        opacity: 0.75;
        padding-right: 1rem;
        white-space: nowrap;
      }
    }
  }
}

$research_header_height: 45px;
$research_sidebar_width: 185px;
html {
  min-height: 100%;
  background: #fcf7ea;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #fcf7ea 0%, #cedbd4 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #fcf7ea 0%, #cedbd4 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #fcf7ea 0%, #cedbd4 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf7ea', endColorstr='#cedbd4', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}

body {
  font-family: Roboto, "Open Sans", "Segoe UI", "Helvetica Neue", Arial, "Noto Sans KR", "Malgun Gothic", sans-serif;
  background: initial;
  margin-top: 0px;
  margin-bottom: 10px;
}

a.no-text-effect {
  text-decoration: initial;
  color: inherit;
}

.badge-lg {
  padding: 0.5rem;
}

.fill-width {
  width: 100%;
}

.circle-inline {
  background: black;
  width: 1.2em;
  height: 1.2em;
  border-radius: 50px;
}

.text-color-dark {
  color: #252525;
}

.text-color-white {
  color: white;
}

.text-color-lightgray {
  color: #b5b5b5;
}

.mat-select {
  font-size: 0.9em;
}

.mat-button,
.mat-icon-button.text-color-darkgray,
.text-color-darkgray {
  color: #575757;
}

.text-color-gray {
  color: #757575;
}

.page-info-message {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
  color: #b5b5b5;
}

.dropdown-item {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
}

.text-color-accented {
  color: $color_accent;
}

.tabbar-header-right-container-absolute {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  margin-top: 0.3rem;
  margin-right: 0.3rem;
}

.input-group {
  margin-bottom: 15px;
}

.list-flex-wrap {
  display: flex;
  flex-wrap: wrap;
  .card {
    margin-right: 1em;
    margin-bottom: 1em;
  }
}

.margin-right-small {
  margin-right: 0.5em;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.no-padding {
  padding: 0;
}

.padding-left-tiny {
  padding-left: 0.2em;
}

.no-padding-top {
  padding-top: 0;
}

.no-horizontal-padding {
  padding-left: 0;
  padding-right: 0;
}

.no-vertical-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.no-right-padding {
  padding-right: 0 !important;
}

.vertical-padding-tiny {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.vertical-padding-normal {
  padding-top: 1em;
  padding-bottom: 1em;
}

.hide_on_mobile {
  @media screen and (max-width: 575px) {
    display: none !important;
  } // Small devices (landscape phones, less than 768px)
}

.hide-on-print {
  @media print {
    display: none !important;
  }
}

.container-vertical-padding {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.flex-container {
  display: flex;
  &>.flex-element {
    align-self: center;
  }
  &>.flex-element-fill {
    flex: 1;
  }
  &>.flex-align-self-start {
    align-self: flex-start;
  }
}

.flex-filler {
  flex: 1 1 auto;
}

.flex-container.flex-container-wrap {
  flex-wrap: wrap;
}

.flex-container.flex-padded-content {
  margin: -0.8rem;
  &>* {
    padding: 0.8rem;
  }
}

.flex-container.flex-container-responsive-columns {
  &>* {
    width: 33%; // Medium devices (tablets, less than 992px)
    @media screen and (max-width: 991px) {
      width: 50%
    }
    @media screen and (max-width: 575px) {
      width: 100%
    } // Small devices (landscape phones, less than 768px)
    @media screen and (max-width: 767px) {
      width: 100%
    }
  }
}

.flex-container.flex-container-responsive-columns_two {
  &>* {
    width: 50%; // Medium devices (tablets, less than 992px)
    @media screen and (max-width: 575px) {
      width: 100%
    } // Small devices (landscape phones, less than 768px)
    @media screen and (max-width: 767px) {
      width: 100%
    }
  }
}

.flex-container.flex-container-col3 {
  &>* {
    width: 33%;
  }
}

.flex-container.flex-container-col2 {
  &>* {
    width: 50%;
  }
}

.flex-container.flex-container-col1 {
  &>* {
    width: 100%;
  }
}

.flex-container.flex-align-items-center {
  align-items: center;
}

.flex-container.flex-align-items-baseline {
  align-items: baseline;
}

.flex-align-self-center {
  align-self: center;
}

.flex-container.flex-stretch {
  justify-content: space-between;
}

.btn.btn-link-medium {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9em;
  &:hover,
  &:active {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0.1rem;
    text-decoration: none;
  }
}

.text-color-danger {
  color: #e65a56;
}

.btn.btn-danger {
  background: #e65a56;
}

.btn.btn-primary {
  background: $color-pointed; //@include pointed-gradient();
  border-color: #47a594;
  &:hover {
    background: $color_pointed_darker; //@include pointed-gradient-darker();
  }
}

label.small.horizontal {
  margin-right: 1.5em;
}

.tiny {
  font-size: 0.5em;
}

.text-size-dot8em {
  font-size: 0.8em;
}

.text-size-1dot2em {
  font-size: 1.2em;
}

.right-margin-1em {
  margin-right: 1em;
}

.right-margin-1dot5em {
  margin-right: 1.5em;
}

.right-margin-2em {
  margin-right: 2em;
}

.right-margin-3em {
  margin-right: 3em;
}

.right-margin-dot5em {
  margin-right: 0.5em;
}

.right-margin-dot2em {
  margin-right: 0.2em;
}

.left-margin-1em {
  margin-left: 1em;
}

.left-margin-dot5em {
  margin-left: 0.5em;
}

.left-margin-dot2em {
  margin-left: 0.2em;
}

.bottom-margin-dot5em {
  margin-bottom: 0.5em;
}

.bottom-margin-1em {
  margin-bottom: 1em;
}

.bottom-margin-2em {
  margin-bottom: 2em;
}

.top-margin-1em {
  margin-top: 1em;
}

.top-margin-1dot5em {
  margin-top: 1.5em;
}

small.info-text {
  color: #575757;
  font-weight: bold;
}

mat-form-field.mat-form-no-vertical-padding {
  margin-bottom: -1.25em;
  margin-top: -1.25em;
}

.cursor-pointer {
  cursor: pointer;
}

.component-border-top {
  border-top: 1px solid #f0f0f0;
}

.card {
  margin-bottom: 1.5rem;
}

.card.card-component {
  border: none;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.17);
  border-radius: 0;
  .list-group,
  .list-group-item {
    border-radius: 0 !important;
  }
}

.card-body.horizontal-padding-narrow {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.card-body.vertical-padding-small {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.card {
  overflow: hidden;
  .list-group-item:first-child {
    border-top: none;
  }
}

.card-header.card-header-with-button {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-right: 0.25rem;
}

.card-header .description {
  font-size: 9pt;
  margin-bottom: 0;
  margin-top: 0.1rem;
  font-weight: initial;
  color: #eca970;
}

.card>.card-strip {
  background: gray;
  display: block;
  height: 0.25rem;
}

.card.card-add-new {
  cursor: pointer;
  vertical-align: middle;
  background: transparent;
  border: 3px dotted #afafaf;
  box-shadow: none;
  .card-body {
    height: 100%;
    text-align: center;
  }
  &:hover {
    background: $color_pointed;
  }
}

button.table-cell-clickable-text {
  min-width: initial !important;
  overflow: initial !important;
  white-space: initial !important;
  font-size: 0.75rem !important;
  padding: 0 !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
  padding-right: 0.25rem !important;
  padding-left: 0.25rem !important;
  line-height: initial !important;
  font-weight: initial;
}

.btn-group.selectable {
  .btn.active {
    background: #feb952;
    color: white; //text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 1px rgba(50, 0, 0, 0.3) inset;
    border: hidden;
  }
}

.center {
  display: flex;
  align-content: center;
  .content {
    align-self: center;
    width: 100%;
  }
}

.text-align-center {
  text-align: center;
}

mat-dialog-container .dialog {
  margin: -24px;
}

.dialog {
  position: relative;
  &>.card-header {
    border-radius: 0;
    @include main-gradient();
    color: white;
    font-weight: 300;
  }
  &>.card-body {
    padding: 1.0rem;
  }
  p {
    color: $color_dark_gray;
    font-size: 0.9em;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &.dialog-mid {
    width: 500px;
    @media screen and (max-width: 575px) {
      min-width: initial;
    }
  }
}

.overlay {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-busy {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  border: hidden;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  &.narrow {
    max-width: 500px;
  }
}

.card-inverse {
  background: #575757;
  color: #efefef;
}

.card-header {
  background: inherit;
}

.card-sm {
  .card-header {
    padding: .5rem 0.8rem;
  }
  .card-body {
    font-size: 0.8em;
    padding: 0.9rem;
  }
}

.card-main {
  border-radius: 0px;
  .card-header {
    background: inherit;
    font-weight: light;
    color: #757575;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    font-weight: 300;
  }
}

.card-warning {
  background: #ff5f45;
  color: white;
}

.card {
  .table {
    th:first-child,
    td:first-child {
      padding-left: 1.25em;
    }
    th:last-child,
    td:last-child {
      padding-right: 1.25em;
    }
    margin-bottom: 0px;
  }
}

.card-sm {
  .table {
    th:first-child,
    td:first-child {
      padding-left: 0.9em;
    }
    th:last-child,
    td:last-child {
      padding-right: 0.9em;
    }
  }
}

button.mat-raised-button {
  color: white !important;
}

tr.singleline,
thead.singleline {
  td,
  th {
    vertical-align: middle;
  }
}

.table-data {
  font-size: 0.7em;
  mat-cell {
    font-size: 1.1em;
  }
  .badge {
    font-size: 1.0em;
    font-weight: 400;
  }
  thead,
  mat-header-row {
    background: #f8f8f8;
    td,
    th,
    mat-header-cell {
      padding-top: 0.9em;
      padding-bottom: 0.9em;
      border-bottom-width: 1px;
    }
  }
  mat-header-row {
    padding-top: 0;
    padding-bottom: 0;
  }
  tbody,
  mat-row {
    &,
    &>mat-cell {
      color: #717171;
    }
    tr.hoverable:hover,
    &.hoverable:hover {
      background: #fafafa;
    }
  }
  td,
  th,
  mat-cell,
  mat-header-cell {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  td.button-cell,
  mat-cell.button-cell,
  mat-header-cell.button-cell {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0;
    &:last-child {
      padding-right: 0.2em;
    }
  }
  td.button-cell.right-padding:last-child {
    padding-right: 1.25em;
  }
}

.table.no-horizontal-padding {
  th:first-child,
  td:first-child {
    padding-left: 0em !important;
  }
  th:last-child,
  td:last-child {
    padding-right: 0em !important;
  }
}

.table.no-borders {
  td,
  th {
    border: hidden;
  }
}

.table-print {
  td,
  th {
    color: black;
  }
  td {
    font-size: 0.85rem;
  }
}

.form-control {
  font-size: 0.9em;
}

.form-control-round {
  border-radius: 500px;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.form-group {
  label {
    font-weight: 500;
    small {
      font-weight: 500;
    }
  }
}

.alert.alert-sm {
  padding: 0.5rem 0.75rem;
  font-size: 0.9rem;
}

.global-page-title {
  font-weight: 300;
  font-size: 1.2rem;
  color: #575757;
}

h1.global-page-title {
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
}

.header-main {
  color: white;
  font-weight: bold;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e77676+0,bc526c+100 */
  background: #e77676;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #e77676 0%, #bc526c 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #e77676 0%, #bc526c 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #e77676 0%, #bc526c 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e77676', endColorstr='#bc526c', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}

.floating {
  margin-left: auto;
  margin-right: auto;
}

$offset: 187;
$duration: 1.4s;
.spinner {
  animation: rotator $duration linear infinite;
}

.badge-researcher-role {
  padding: 0.5em;
  text-transform: capitalize;
  font-weight: 500;
  &.collaborator {
    background: #78c8eb;
  }
  &.manager {
    background: #e97a9b;
  }
}

.filedrop {
  margin: auto;
  border: 2px dotted #c2c2c2;
  border-radius: 0.6rem;
  background: #f0f0f0;
  padding: 0.8rem;
  &>.content {
    height: inherit !important;
  }
}

.fileopen{
  label{
    cursor: pointer;
    color: $color_accent;
    padding: 0.2rem 0.5rem;
    border-radius: 3px;
    &:hover{
      background: #fec6874d;;
    }
  }
  input[type='file']{
    display: none;
  }
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash $duration ease-in-out infinite, colors ($duration*4) ease-in-out infinite;
}

@keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: $offset;
  }
  50% {
    stroke-dashoffset: $offset/4;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: $offset;
    transform: rotate(450deg);
  }
}
