<div class="header">
  <div class="header_block">
    <div class="content">
      <img class="logo" src="/assets/omnitrack_research_kit_logo.svg">
      <div class="profile_container">
        <div class="sign_in" *ngIf="!authService.isSignedIn()">
            <button class="btn btn-primary" (click)="goToSignIn()">Sign In</button>
        </div>
        <div class="signed_in_profile" *ngIf="authService.isSignedIn()">
          <div class="information">
            <div class="name small font-weight-bold">
              {{authService.currentResearcher.alias}}
            </div>
            <div class="email small font-weight-light">
              {{authService.currentResearcher.email}}
            </div>
          </div>
          <button class="btn btn-secondary btn-sm" (click)="signOut()">Sign Out</button>
        </div>
      </div>
    </div>
    <!--<div class="header-border"></div>-->
  </div>
</div>
<div class="container-fluid" id="research_main">
  <router-outlet></router-outlet>
</div>