<div class="viewport" #viewPort (resized)="onViewPortResized($event)"
  [class.panning]="(brushAndLinking.currentHoveringInfo | async) == null">
  <div class="viewport-content" (mousedown)="onMouseDownInViewPort($event)"
    [style.transform]="makeTransform()" [style.paddingLeft]="horizontalPaddingSize + 'px'"
    [style.paddingRight]="horizontalPaddingSize + 'px'" [style.paddingTop]="verticalPaddingSize + 'px'"
    [style.paddingBottom]="verticalPaddingSize + 'px'">
    <div class="content" (resized)='onContentResized($event)'>

      <div class="trigger-list flex-container" *ngIf="getSortedTriggers() != null && getSortedTriggers().length > 0" (domChange)="onContentDomChanged()">
        <app-preview-trigger *ngFor="let trigger of getSortedTriggers(); trackBy: trackByObjectId" [trigger]="trigger" [highlight]="(brushAndLinking.currentHoveringInfo | async) != null && (brushAndLinking.currentHoveringInfo | async).obj._id === trigger._id" (onMouseEnter)="brushAndLinking.onHoverTrigger(trigger)" (onMouseLeave)="brushAndLinking.onLeaveObject()"></app-preview-trigger>
      </div>

      <div class="tracker-list flex-container" *ngIf="getSortedTrackers() != null && getSortedTrackers().length > 0" (domChange)="onContentDomChanged()">
        <app-preview-tracker *ngFor="let tracker of getSortedTrackers(); trackBy: trackByObjectId" [tracker]="tracker"></app-preview-tracker>
      </div>

      <svg class="decorator-canvas" [attr.width]="contentWidth + 'px'" [attr.height]="contentHeight + 'px'">
        <ng-container *ngFor="let connectionInfo of connectionLineInfo; trackBy: trackByConnectionInfo">
          <svg:circle r = 6 [attr.cx]="connectionInfo.fromPosition.x" [attr.cy]="connectionInfo.fromPosition.y" [attr.fill]="getConnectionColor(connectionInfo)"></svg:circle>

          <svg:path [attr.d]="createSvgPath(connectionInfo.fromPosition, connectionInfo.toPosition)" stroke-width=2.5 [attr.stroke]="getConnectionColor(connectionInfo)" fill="transparent" [attr.stroke-dasharray]="getConnectionDashArray(connectionInfo)"></svg:path>
        </ng-container>

      </svg>
    </div>
  </div>
</div>

<div class='card command-panel right-top flex-container flex-align-items-center'>
  <button mat-icon-button (click)="fitView()">
    <mat-icon class="material-icons">aspect_ratio</mat-icon>
  </button>
  <button mat-icon-button (click)="zoomIn()">
    <mat-icon class="material-icons">zoom_in</mat-icon>
  </button>
  <button mat-icon-button (click)="zoomOut()">
    <mat-icon class="material-icons">zoom_out</mat-icon>
  </button>
  <div class="scale-field flex-container flex-align-items-center">
    <input class="form-control form-control-sm" type="text" [value]="scalePercent" (change)="scalePercent = $event.target.value">%
  </div>
</div>
