<div class="card">
  <div class="card hover-indicator" *ngIf="isHeaderHovering === true || highlight === true" @hoverTrigger></div>
  <div class="card-header appbar" [style.background-color]="getTrackerColorString()"
    (mouseenter)="onHeaderMouseEntered()" (mouseleave)="onHeaderMouseLeaved()" (click)="onHeaderClicked()">
    {{tracker.name}}
  </div>

  <ng-container *ngFor="let layoutElm of tracker.layout" [ngSwitch]="layoutElm.type">

    <ng-container *ngSwitchCase="'field'">
      <ng-container *ngIf="getFieldById(layoutElm.reference) as field">
        <div class="field-frame" [ngSwitch]="field.type" (mouseenter)="onFieldMouseEntered(field)"
          (mouseleave)="onFieldMouseLeaved(field)" (click)="onFieldClicked(field)">

          <div class="hover-indicator" *ngIf="highlightedFieldId === field._id || currentHoveringFieldId === field._id"
            @hoverTrigger></div>

          <div class="field-header">
            <div class="field-validation-indicator"></div>
            <div class="field-required-indicator text-color-accented" *ngIf="field.isRequired === true">*</div>
            <div class="field-name">{{field.name}}</div>
          </div>

          <div class="input-form-container">
            <app-number-field-mobile-input *ngSwitchCase="0" [field]="field"></app-number-field-mobile-input>
            <app-time-field-mobile-input *ngSwitchCase="1" [field]="field"></app-time-field-mobile-input>
            <app-timespan-field-mobile-input *ngSwitchCase="2" [field]="field"></app-timespan-field-mobile-input>
            <app-text-field-mobile-input *ngSwitchCase="3" [field]="field"></app-text-field-mobile-input>
            <app-location-field-mobile-input *ngSwitchCase="5" [field]="field"></app-location-field-mobile-input>
            <app-choice-field-mobile-input *ngSwitchCase="6" [field]="field"></app-choice-field-mobile-input>
            <app-rating-field-mobile-input *ngSwitchCase="7" [field]="field"></app-rating-field-mobile-input>
            <app-image-field-mobile-input *ngSwitchCase="8" [field]="field"></app-image-field-mobile-input>
            <app-audio-field-mobile-input *ngSwitchCase="9" [field]="field"></app-audio-field-mobile-input>
          </div>

          <div class="connection-indicator" *ngIf="field.connection">
            <mat-icon class="material-icons link-indicator">link</mat-icon>
            <div class="link-info"><b>{{getAttachedFactory(field).categoryName}}</b> |
              {{getAttachedFactory(field).name}}
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>



    <ng-container *ngSwitchCase="'desc'">
      <ng-container *ngIf="getDescriptionPanelById(layoutElm.reference) as descriptionPanel">
        <div class="field-frame" (mouseenter)="onDescriptionPanelMouseEntered(descriptionPanel)"
          (mouseleave)="onDescriptionPanelMouseLeaved(descriptionPanel)"
          (click)="onDescriptionPanelClicked(descriptionPanel)">

          <div class="hover-indicator"
            *ngIf="highlightedDescriptionPanelId === descriptionPanel._id || currentHoveringDescriptionPanelId === descriptionPanel._id"
            @hoverTrigger></div>

          <div class="markdown-view-content" [innerHtml]="transformMarkdownToHtml(descriptionPanel.content)"></div>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>


</div>
