<div *ngIf="diffMode==false" class="code-editor-container">
    <ngx-monaco-editor class="code-editor" [options]="editorOptions" [(ngModel)]="code" (onInit)="onInitCodeEditor($event)"></ngx-monaco-editor>
</div>
<ng-container *ngIf="diffMode == true">
    <div class="code-editor-container">
      <ngx-monaco-diff-editor class="code-editor" [options] = "diffOptions" [originalModel]="originalModel" [modifiedModel]="changedModel"></ngx-monaco-diff-editor>
    </div>
</ng-container>

<div class="footer flex-container flex-align-items-center">
  <button type="buton" mat-button color="primary" [disabled]="editorRef.value == null" (click)="onReformatCodeClicked()">Reformat</button>
  <div class="flex-filler"></div>
  <button class="small" type="button" mat-button color="primary" [disabled] = "isPackageChanged == false" (click)="onShowDiffClicked()">{{diffMode==true? 'Close diff' : 'Show diff'}}</button>
  <button class="small" type="button" mat-button color="accent" [disabled] = "isPackageChanged == false || isCodeValid == false" (click)="onSaveClicked()">Save</button>
</div>
