<app-tree-view-element *ngIf="tracker!=null" [isSelectable]="true" [selectionData]="{'type':'tracker', 'obj': tracker}" (treeItemClick)="onElementClicked($event)">
  <div main>
    {{tracker.name}}
  </div>
  <app-tree-view-element child [cascadingLevel]="1">
    <span main>Fields ({{tracker.attributes.length}})</span>
    <app-tree-view-element child *ngFor="let attribute of tracker.attributes" [isLeaf]="true" [isSelectable]="true" [selectionData]="{'type':'attribute', 'obj': attribute}" [cascadingLevel]="2" (treeItemClick)="onElementClicked($event)">
      <span main>{{attribute.name}}</span>
    </app-tree-view-element>
  </app-tree-view-element>
  <app-tree-view-element *ngIf="getReminders().length > 0" child [cascadingLevel]="1">
    <span main>Reminders ({{getReminders().length}})</span>
    <app-trigger-tree-view child *ngFor="let reminder of getReminders()" [trigger]="reminder" [isReminder]="true" [oppendCascadingLevel]="2" (treeItemClick)="onElementClicked($event)"></app-trigger-tree-view>
  </app-tree-view-element>
</app-tree-view-element>
