<app-tree-view-element *ngIf="tracker!=null" [isSelectable]="true" [selectionData]="{'type':'tracker', 'obj': {'obj':tracker}}" (treeItemClick)="onElementClicked($event)">
  <div main>
    {{tracker.name}}
  </div>
  <app-tree-view-element child [cascadingLevel]="1">
    <span main>Fields ({{tracker.fields.length}})</span>
    <app-tree-view-element child *ngFor="let field of tracker.fields; trackBy: trackByLocalId" [isLeaf]="true" [isSelectable]="true" [selectionData]="{'type':'field', 'obj': {'obj':field, 'parentId': tracker._id}}" [cascadingLevel]="2" (treeItemClick)="onElementClicked($event)">
      <span main>{{field.name}}</span>
    </app-tree-view-element>
  </app-tree-view-element>
  <app-tree-view-element *ngIf="getReminders().length > 0" child [cascadingLevel]="1">
    <span main>Reminders ({{getReminders().length}})</span>
    <app-trigger-tree-view child *ngFor="let reminder of getReminders(); trackBy: trackById" [trigger]="reminder" [isReminder]="true" [oppendCascadingLevel]="2" (treeItemClick)="onElementClicked($event)"></app-trigger-tree-view>
  </app-tree-view-element>
</app-tree-view-element>
