@import '../../styles.scss';


#day-index-range-container{
  padding-top: 2.5rem;
}

#experiment-side-panel {
  position: fixed;
  z-index: 10;
  top: $research_header_height;
  left: $research_sidebar_width;
  overflow-y: scroll;
  bottom: 0;
  
  &.card {
    border-radius: 0;
    margin-bottom: 0;

    .card-body{
      flex: initial;
      padding-bottom: 0.5rem;
    }
  }
}