.menu-body {
  padding: 0.75rem 1rem;
  font-size: 0.85rem;
  cursor: pointer;

  &.selected {
    background: #e7b60a;
    color: white;
    font-weight: bold;
    text-shadow: 0px -1px rgba(0, 0, 0, 0.1);
    &:hover {
      background: #e3aa08;
    }
  }

  &:hover {
    background: #f2f2f2;
  }

  .color {
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    border: 2px solid white;
    border-radius: 50%;
    margin-right: 0.35rem;
  }

  .icon {
    margin-right: 0.5rem;
    & > img {
      width: 16px;
      height: 16px;
      opacity: 0.5;
    }
  }
}
