.menu-body {
  padding: 0.75rem 1rem;
  font-size: 0.85rem;
  cursor: pointer;
  position: relative;

  .highlight-indicator {
    position: absolute;
    z-index: 5000;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border: 3px solid orange;
    pointer-events: none;
  }

  .text {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;

    .subtitle {
      font-size: 0.75rem;
      margin-top: 0.25rem;
    }
  }

  &.selected {
    background: #e7b60a;
    color: white !important;
    font-weight: bold;
    text-shadow: 0px -1px rgba(0, 0, 0, 0.1);

    &:hover {
      background: #e3aa08;
    }

    .drag-handle {
      color: white;
    }
  }

  &.has-button {
    padding-right: 0.25rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  &.has-drag-handle {
    padding-left: 0;
  }

  &.has-button {
    padding-right: 0.25rem;
  }

  &:hover {
    background: #f2f2f2;

    .drag-handle {
      visibility: visible;
    }
  }

  .drag-handle {
    font-size: 14px;
    color: #b4b4b4;
    visibility: hidden;
  }

  .color {
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    border: 2px solid white;
    border-radius: 50%;
    margin-right: 0.35rem;
  }

  .icon {
    margin-right: 0.5rem;

    &>img {
      width: 16px;
      height: 16px;
      opacity: 0.5;
    }
  }
}
