<div class="menu-body flex-container flex-align-items-center" [class.selected]="selected===true"
[class.has-button]="showRemoveButton === true"
(click)="onClicked()">
  <span class="icon" *ngIf="iconPath"><img [src]="iconPath"></span>

  <div class="color" [style.background]="color" *ngIf="color"></div><span class="title" *ngIf="title">{{title}}</span>
  <div *ngIf="showRemoveButton === true" class="flex-filler"></div>
  <button *ngIf="showRemoveButton === true" mat-icon-button class="text-color-gray mat-button-small" (click)="onRemoveClicked($event)"><mat-icon class="material-icons">delete</mat-icon></button>

</div>