<div class="dialog">
  <div class="card-header">Choose Invitation</div>
  <div class="card-body">
    <table class="table table-data">
      <tr class="singleline hoverable cursor-pointer" *ngFor="let invitation of invitations" (click)="selectedInvitationCode = invitation.code">
        <td>
          <mat-radio-button [aria-label]="invitation.code" [value]="invitation.code" [checked] = "selectedInvitationCode == invitation.code" (change)="selectedInvitationCode = invitation.code"></mat-radio-button>
        </td>
        <td>{{invitation.code}}</td>
        <td>{{getInvitationType(invitation)}}</td>
        <td>
            <div *ngIf="invitation.groupMechanism">
              <div *ngIf="invitation.groupMechanism.groups">
                <span class="badge badge-info" *ngFor="let group of invitation.groupMechanism.groups">{{getGroupName(group)}}</span>
              </div>
              <span *ngIf="invitation.groupMechanism.group" class="badge badge-info">{{getGroupName(invitation.groupMechanism.group)}}</span>
            </div>
          </td>
      </tr>
    </table>
    <hr>
    <div class="text-right">
        <button mat-button color="accent" (click)="onNoClick()">Cancel</button>
        <button mat-raised-button color="primary" (click)="onYesClick()">{{positiveLabel}}</button>
    </div>
  </div>
</div>