.card.card-experiment {
  cursor: pointer;
  height: 170px;
  overflow-y: hidden;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.17);

  .card-title {
    font-size: 1.05rem;
    font-weight: bold;
    color: #252525;
    margin-bottom: 0;
  }

  .card-header {
    border: hidden;
    padding: 0.75rem 0.9rem;

    &.upper {
      flex: 1;
    }

    &.under {
      flex: 0;
    }

    .experiment-id {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 0.75rem;
      color: #717171;
    }

    .experiment-range {
      font-size: 0.8rem;
      font-weight: bold;
      color: #929292;
    }
  }
}
