@import "../../../../../styles.scss";

.bottomsheet-container {
  @include main-gradient();
  padding: 0;
}

.card-header{
  border: none;
  color: white;
  background:rgba(255,255,255,0.15);
}

.tile-element {
  flex-direction: column;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  cursor: pointer;
}

.icon {
  width: 70%;
}

.label {
  font-size: 0.8rem;
  font-weight: 200;
  color: white;
  margin-top: -0.5rem;
}
