mat-expansion-panel-header {
  background: #f9f9f9 !important;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  &:hover {
    background: #e0e0e0 !important;
  }
}

.card-content {
  padding-top: 1rem;
  font-size: 0.9rem;
  .header {
    margin-bottom: 1rem;
  }
  .settings-main-table {
    th.main-settings-header {
      padding-left: 0;
      width: 240px;
    }
    td.main-settings-container {
      padding: 0;
    }
  }
}

.saved-timestamp-indicator {
  font-size: 0.8rem;
}

.config-row,
.api-keys-header {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  min-height: 46px;
  justify-content: space-between;
  &:hover {
    background: #fafafa;
  }
  .label {
    color: #757575;
  }
  .changed-mark {
    margin-left: 4px;
    color: #fec093;
    font-weight: 500;
  }
  input.text-type {
    max-width: 300px;
  }
  .flex-filler {
    margin-left: 3rem;
  }
  .file-description {
    text-align: right;
    margin-bottom: 7px;
  }
}

.api-keys-header {
  &:hover {
    background: inherit;
  }
}

.build-status-progress {
  .message {
    margin-bottom: 0.5rem;
  }
}

.new-api-key-row {
  border-top: 1px solid #e0e0e0;
  margin-top: 1rem;
  &:hover {
    background: none;
  }
}

.build-footer {
  //background: #f0f0f0;
}

mat-panel-title {
  font-size: 0.8rem;
}

mat-panel-title.opened {
  font-weight: 200;
  font-size: 1.0rem;
}

mat-panel-description {
  .progress-indicator {
    .label {
      font-size: 0.8rem;
      flex: 0.4;
    }
    mat-progress-bar {
      flex: 1;
    }
  }
}

mat-expansion-panel.binary-list {
  & /deep/ .mat-expansion-panel-body {
    padding: 0;
    font-size: 1rem;
  }
  & /deep/ th,
  & /deep/ td {
    &:first-child {
      padding-left: 1.5rem;
    }
  }
}
