<div class="dialog dialog-mid">
  <div class="card-header">Add New Tracking Package</div>
  <div class="card-body">
    <div class="form-group">
      <label for="trackingPackageNameInput">
        <small>Package Name</small>
      </label>
      <input id="trackingPackageNameInput" class="form-control" type="text" name="text" placeholder="Enter Name" [(ngModel)]="trackingPackageName"
        autofocus>
    </div>
    <div class="form-group" [class.has-danger]="trackingPackageJsonString && !trackingPackage">
      <div class="flex-container flex-align-items-center">
        <label for="trackingPackageContentInput">
          <small>Package Content</small>
        </label>
        <div class="flex-filler"></div>
        <div class="fileopen">
          <label for="packageFileInput">
            <small>Open JSON File...</small>
          </label>
          <input id="packageFileInput" type="file" accept="application/json">
        </div>
      </div>
      <textarea id="trackingPackageContentInput" class="form-control" [class.form-control-danger]="trackingPackageJsonString && !trackingPackage"
        placeholder="Tracking package in JSON format" [(ngModel)]="trackingPackageJsonString"></textarea>

      <small *ngIf="trackingPackageJsonString && !trackingPackage" class="text-danger">Wrong JSON format</small>
    </div>
  </div>
  <div class="card-body text-right">
    <button type="button" mat-button (click)="onNoClick()">Cancel</button>
    <button type="button" mat-raised-button color="primary" [disabled]="isValid()!==true" (click)="onYesClick()">Add Tracking Package</button>
  </div>
</div>
