<div class="property-view-container-vertical">
  <div class="form-group">
    <app-selection-property-view class="form-group" title="Input Type"></app-selection-property-view>
  </div>
  <div class="form-group">
    <app-selection-property-view title="# of Stars"></app-selection-property-view>
  </div>
  <ng-container>
    <div class="form-group">
      <app-number-property-view title="Leftmost Value"></app-number-property-view>
    </div>
    
    <div class="form-group">
      <app-number-property-view title="Rightmost Value"></app-number-property-view>
    </div>

    <div class="form-group">
      <app-text-property-view title="Leftmost Label"></app-text-property-view>
    </div>

    <div class="form-group">
      <app-text-property-view title="Rightmost Label"></app-text-property-view>
    </div>
  </ng-container>
  <div class="form-group">
    <app-boolean-property-view title="Allow Fractional Score"></app-boolean-property-view>
  </div>
</div>
