.title{
    font-weight: 300;
    color: #757575;
}
.number{
    font-weight: 300;
    color: #000000;
    font-size: 200%;
}
#session {
    align-items: baseline !important
}

.mat-grid-tile .mat-figure{
    align-items: baseline !important
}