.card.omnitrack-card{
  min-width: 30%;
  & > .card-header{
    background: #fafafa;
  }

  .tracker-list{
    .attribute-list{
      font-size: 0.8em;
      .list-group-item{
        padding: 0.4rem 0.9rem;
        color: gray;
      }
    }
  }
}

.table.table-schema{
  margin-top: 0.5em;
  th{
    color: #575757;
  }
}