@import '../../../styles.scss';

.card.omnitrack-card {
  min-width: 30%;
  &>.card-header {
    background: #fafafa;
  }
  .tracker-list {
    .attribute-list {
      font-size: 0.8em;
      .list-group-item {
        padding: 0.4rem 0.9rem;
        color: gray;
      }
    }
  }
}

.card-entity{
  &:last-child{
    margin-bottom: 0;
  }
}

.entity-list-container-container {
  @include two-column-responsive-container(800px);
}
