<div class="container">

  <app-help-widget message="What happens if I modify the plans after the study started?">
    <span tooltipHtmlContent>
      Tracking plan is a <b>schema</b>, not the actual instance of the entities that reside in the participants'
      accounts. Modifying the packages will <b>NOT</b> affect the participants who already started the experiment.
    </span>
  </app-help-widget>

  <div class="flex-container flex-stretch container-vertical-padding">
    <small *ngIf="packages && packages.length > 1" class="flex-element info-text">{{packages.length}} Plans</small>
    <small *ngIf="packages && packages.length  == 1" class="flex-element info-text">{{packages.length}} Plan</small>
    <small *ngIf="!packages || packages.length === 0" class="flex-element info-text">No tracking plans defined for the
      experiment.</small>
    <button mat-button color="primary" class="flex-element" (click)="onAddNewPackageClicked()">+ Add New Tracking
      Plan</button>
  </div>
  <div class="package-list">
    <div class="card omnitrack-card" *ngFor="let package of packages; trackBy: trackByPackage">
      <div class="card-header card-header-with-button">
        <div class="flex-container flex-stretch">
          <div class="bold flex-element">
            {{package.name}}
          </div>
          <div class="flex-element">
            <button mat-icon-button class="text-color-darkgray" (click)="onEditPlanClicked(package.key)">
              <mat-icon class="material-icons">edit</mat-icon>
            </button>

            <button mat-icon-button class="text-color-darkgray" (click)="onEditCodeClicked(package.key)">
              <mat-icon class="material-icons">code</mat-icon>
            </button>
            <button mat-icon-button class="text-color-darkgray" (click)="onRemovePlanClicked(package.key)">
              <mat-icon class="material-icons">delete</mat-icon>
            </button>
          </div>
        </div>
      </div>

      <app-tracking-plan-list-element [plan]="package.data" (change)="onPlanEdited(package.key, package.data)">
      </app-tracking-plan-list-element>

    </div>
  </div>
</div>
