<div class="container">
  <div class="flex-container flex-stretch container-vertical-padding">
    <small class="flex-element info-text">Packages: {{packages.length}}</small>
    <button mat-button color="primary" class="flex-element" (click)="onAddNewPackageClicked()">+ Add New Tracking
      Package</button>
  </div>
  <div class="package-list">
    <div class="card omnitrack-card" *ngFor="let package of packages; trackBy: trackByPackage">
      <div class="card-header card-header-with-button">
        <div class="flex-container flex-stretch">
          <div class="bold flex-element">
            {{package.name}}
          </div>
          <div class="flex-element">
            <button mat-icon-button class="text-color-darkgray" (click)="onEditPackageClicked(package.key)">
              <mat-icon class="material-icons">code</mat-icon>
            </button>
            <button mat-icon-button class="text-color-darkgray" (click)="onRemovePackageClicked(package.key)">
              <mat-icon class="material-icons">delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="flex-container entity-list-container-container">
        <div class="card-body entity-list-container tracker-list-container" *ngIf="package.data.trackers && package.data.trackers.length > 0">
          <h6>Trackers</h6>
          <div class="tracker-list">
            <app-tracker-view *ngFor="let tracker of package.data.trackers; trackBy: trackByEntity" [tracker]="tracker" [reminders]="getRemindersOf(tracker, package.data.triggers)" (trackerChange)="onPackageEdited(package.key, package)"></app-tracker-view>
          </div>
        </div>
        <div class="card-body entity-list-container trigger-list-container" *ngIf="package.data.triggers && filterLoggingTriggers(package.data.triggers).length > 0">
          <h6>Triggers</h6>
          <div class="trigger-list">
            <app-trigger-view *ngFor="let trigger of filterLoggingTriggers(package.data.triggers); trackBy: trackByEntity" [trigger]="trigger"
              [trackingPackage]="package" (flagChange)="onPackageEdited(package.key, package)"></app-trigger-view>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
