<div class="container">
  <div class="flex-container flex-stretch container-vertical-padding">
    <small class="flex-element info-text">Packages: {{packages.length}}</small>
    <button mat-button color="primary" class="flex-element">+ Add New Tracking Package</button>
  </div>
  <div class="package-list">
    <div class="card omnitrack-card" *ngFor="let package of packages">
      <div class="card-header card-header-with-button">
        <div class="flex-container flex-stretch">
          <div class="bold flex-element">
            {{package.name}}
          </div>
          <div class="flex-element">
            <button mat-icon-button class="text-color-darkgray">
              <mat-icon class="material-icons">delete</mat-icon>
            </button>
            <button mat-icon-button class="text-color-darkgray">
              <mat-icon class="material-icons">edit</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <table class="table table-schema table-sm no-margin-bottom no-borders">
        <thead>
          <tr>
            <th width=50%>Trackers</th>
            <th width=50%>Triggers</th>
          </tr>
        </thead>
        <tr>
          <td>
            <div class="tracker-list">
              <div *ngFor="let tracker of package.data.trackers" class="card card-sm card-component">
                <div class="card-strip" [style.background]="getTrackerColorString(tracker)"></div>
                <div class="card-header">
                  {{tracker.name}}
                </div>
                <ul class="list-group list-group-flush attribute-list">
                  <li class="list-group-item font-color-gray" *ngFor="let attribute of tracker.attributes">{{attribute.name}}
                    <sup class="text-color-accented font-weight-bold" *ngIf="attribute.isRequired">*</sup>
                  </li>
                </ul>
              </div>
            </div>
          </td>
          <td>
            <div class="trigger-list">
              <div *ngFor="let trigger of package.data.triggers" class="card card-sm card-component">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item font-color-gray">
                    <div class="tag tag-lg tag-secondary" *ngFor="let trackerId of trigger.trackers">
                      <div class="tag-content flex-container flex-align-items-center">
                        <div class="circle-inline margin-right-small" [style.background]="getTrackerColorString(findTracker(package, trackerId))"></div>
                        <span class="text-color-dark">{{findTracker(package, trackerId).name}}</span>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>