.label-day {
  font-size: 13px;
  color: #757575;
  font-weight: 400;
}

.no-log-fallback {
  text-align: center;
  font-size: 0.8rem;
  color: #c64343;
  background: #f0dede;
  float: right;

  &.weekend, &.with-omit-note{
    background: #f0f0f0;
    color: #a0a0a0;
  }

  &.with-omit-note{
    color: #575757;
  }
}

.chart-area{
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 0px;
}