.label-day {
  font-size: 13px;
  color: #757575;
  font-weight: 400;
}

.no-log-fallback {
  text-align: center;
  font-size: 0.8rem;
  color: #a0a0a0;
  background: #f0dede;
  float: right;
}

.chart-area{
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 0px;
}