<app-d3-chart-frame title="생산성 타임라인" [isBusy]="isBusy" [visualizationAreaHeight]="padding.top" (visualizationAreaWidthChanged)="visualizationWidth.next($event)">
  <div header>
    <div class="btn-group selectable" role="group">
      <button type='button' class='btn btn-sm btn-light' *ngFor="let mode of chartModes" [ngClass]="{'active': selectedChartMode === mode.key}"
        (click)="selectedChartMode = mode.key">{{mode.label}}</button>
    </div>
  </div>
  <svg:g visualization #xAxisGroup [attr.transform]="makeTranslate(padding.left, padding.top)"></svg:g>
  <div class="flex-container flex-align-items-center" under-visualization *ngFor="let group of (data | async).groups">
    <div class="label-day" [attr.width]="padding.left + 'px'">
      {{group.day | date: 'MM-dd (EEE)'}}
    </div>
    <div class="chart-area flex-filler text-right" [style.padding-right]="padding.right + 'px'">
      <svg *ngIf="group.logs && group.logs.length > 0" class="dayline-container" [attr.width]="timelineAreaWidth + 'px'" [attr.height]="ROW_HEIGHT">
        <svg:g appProductivityTimelineDay class="dayline" [width]="timelineAreaWidth" [height]="ROW_HEIGHT" [scale]="timeOfDayScale"
          [group]="group" [mode]="selectedChartMode">
        </svg:g>
      </svg>
      <div class="no-log-fallback flex-container flex-align-items-center" 
        [ngStyle]="{'width': timelineAreaWidth + 'px', 'height': ROW_HEIGHT + 'px'}"
        [ngClass]="{'with-omit-note': group.omitNote!=null, 'weekend': isWeekend(group.day)===true}"
        *ngIf="!group.logs || group.logs.length===0">
        <div style="
        flex: 1;">
          <span *ngIf="!group.omitNote" class="text-color-warn">생산성 로그 및 누락일지 없음 ({{isWeekend(group.day)===true ? '주말' : '평일'}})</span>
          <span *ngIf="group.omitNote">누락일지: </span>
          <span *ngIf="group.omitNote" class="omit_note text-truncate" [matTooltip]="group.omitNote">{{group.omitNote}} ({{group.omitNoteTimestamp | date: 'MM/dd h:mm a'}})</span>
        </div>
      </div>
    </div>
  </div>
</app-d3-chart-frame>
