.attribute-list {
  .list-group-item {
    padding: 0.4rem 0.9rem;
    padding-right: 0.25rem;
    color: gray;
    background: #f8f8f8;
  }
}

.small-button-with-icon-and-text{
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  .material-icons{
    font-size: inherit;
  }
}