<div class="card-strip" [style.background]="getTrackerColorString(tracker)"></div>
<div class="card-header">
  <span>
    {{tracker.name}}
  </span>
</div>
<label>Fields</label>
<div class="card-body">
  <div class="attribute-list">
    <div class="attribute-item font-color-gray" *ngFor="let attribute of tracker.attributes">
      <div class="flex-container flex-align-items-center">
        <span class="attribute-type-icon"><img [src]="'/assets/omnitrack/field_icons_small/icon_small_' + getAttributeIconName(attribute) + '.svg'"></span>
        <div class="attribute-name">{{attribute.name}}
          <sup class="text-color-accented font-weight-bold" *ngIf="attribute.isRequired">*</sup>
        </div>
        <div class="flex-filler"></div>
      </div>
    </div>
  </div>
</div>
<ng-container *ngIf="reminders && reminders.length > 0">
  <label>Reminders</label>
  <div class="card-body">
    <app-trigger-view *ngFor="let reminder of reminders" [trigger]="reminder"></app-trigger-view>
  </div>
</ng-container>
