$item-ver-padding: 0.3rem;
$item-hor-padding: 0.25rem;

.field-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: (-$item-ver-padding) (-$item-hor-padding);

  .field-item {
    margin: $item-ver-padding $item-hor-padding;
    padding: 0.4rem 0.5rem;
    color: gray;
    background: #f8f8f8;
    border-radius: 0.25rem;
  }

  .field-type-icon {
    padding: 6px;
    & > img {
      width: 16px;
      height: 16px;
      opacity: 0.75;
    }
  }
}

.small-button-with-icon-and-text {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  .material-icons {
    font-size: inherit;
  }
}
