<div class="overlay-busy">
  <div class="spinner-container" [style.transform]="'scale(' + scale + ')'">
    <img src="assets/omnitrack_logo_icon.svg" width=90 height=90/>
    <!--<svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
      <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
   </svg>-->
    <div class="logo-spinner-progress-bar-container">
      <div class="progress-bar-background"></div>
      <div class="progress-bar-bar"></div>
    </div>
  </div>
</div>