<div class="container">
  <h1 class="global-page-title">
    Server Settings
  </h1>

  <div class="card card-main">
    <div class="card-header container-vertical-padding">
      <div class="flex-container flex-align-items-center flex-stretch">
        <div>
          <span>OmniTrack Client Apps</span>
          <div class="description">Manages client executable files downloadable by people.</div>
        </div>
        <button mat-raised-button color="primary" (click)="onUploadClicked()">Upload</button>
      </div>
    </div>
    <app-labeled-loading-indicator *ngIf="isLoadingBinaries===true">
      <span message>Loading client information...</span>
    </app-labeled-loading-indicator>
    <mat-tab-group *ngIf="isLoadingBinaries!==true && binaryGroupList && binaryGroupList.length > 0" class="tab-group" (selectedTabChange)="onTabChanged($event)">
      <mat-tab *ngFor="let binaryGroup of binaryGroupList; trackBy: matchBinaryGroup" [label]="binaryGroup._id">
        <app-client-binary-list [binaries]="binaryGroup.binaries"></app-client-binary-list>
      </mat-tab>
    </mat-tab-group>
    <div class="card-footer small" *ngIf="isEmpty()===true">
      No app files are uploaded.
    </div>
  </div>

  <div class="card card-main">
    <div class="card-header container-vertical-padding">
      <div class="flex-container flex-align-items-center flex-stretch">
        <div>
          <span>Certified Client Signatures</span>
          <div class="description">Manages signature keys of certified client apps that are connectable to this server.</div>
        </div>
        <button mat-raised-button color="primary" (click)="onEditSignatureClicked(null)">Add</button>
      </div>
    </div>
    <app-labeled-loading-indicator *ngIf="isLoadingSignatures===true">
      <span message>Loading signatures...</span>
    </app-labeled-loading-indicator>
    <div class="card-body" *ngIf="isLoadingSignatures !== true && (!clientSignatures || clientSignatures.length == 0)">
      <div class="alert alert-sm alert-danger no-margin-bottom" role="alert">
        No clients are certified in this server. This means that no clients will be synchronized with this server. Upload a new signed
        client executable or add signature manually.
      </div>
    </div>

    <table *ngIf="isLoadingSignatures !== true && clientSignatures && clientSignatures.length > 0" class="table table-data">
      <thead>
        <th>Fingerprint</th>
        <th>Package</th>
        <th>Alias</th>
        <th></th>
      </thead>
      <tbody>
        <tr class="singleline" *ngFor="let signature of clientSignatures">
          <td class="cell-fingerprint">{{signature.key}}</td>
          <td>{{signature.package}}</td>
          <td>{{signature.alias}}</td>
          <td class="button-cell">
            <div class="text-right">
              <button mat-icon-button (click)="onEditSignatureClicked(signature._id)">
                <mat-icon class="material-icons">edit</mat-icon>
              </button>
              <button mat-icon-button (click)="onRemoveSignatureClicked(signature._id)">
                <mat-icon class="material-icons">delete</mat-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="card card-main">
    <div class="card-header">
      Researchers
    </div>
    <app-labeled-loading-indicator *ngIf="isLoadingResearchers===true">
      <span message>Loading researchers...</span>
    </app-labeled-loading-indicator>
    <table *ngIf="isLoadingResearchers !== true" class="table table-data">
      <thead>
        <tr class="singleline">
          <th>Email</th>
          <th>Alias</th>
          <th>Registered</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr class="singleline" *ngFor="let researcher of researchers">
          <td>{{researcher.email}}</td>
          <td>{{researcher.alias}}</td>
          <td>{{researcher.createdAt | date: 'short'}}</td>
          <td *ngIf="researcher._id !== myId" [ngSwitch]="researcher.account_approved">
            <span *ngSwitchCase="true">
              Approved
            </span>
            <span *ngSwitchCase="undefined">
              Approval Pending
            </span>
            <span *ngSwitchCase="false">
              Declined
            </span>
          </td>
          <td *ngIf="researcher._id !== myId" class="button-cell right-padding text-right">
            <button class="btn btn-primary btn-sm" *ngIf="researcher.account_approved !== true" (click)="onSetResearcherApprovedStatus(researcher._id, true)">Approve</button>
            <button class="btn btn-danger btn-sm" *ngIf="researcher.account_approved !== false" (click)="onSetResearcherApprovedStatus(researcher._id, false)">Decline</button>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
