<app-chart-frame title="Engagement" [isBusy]="isBusy">
  <div header>
  </div>
  <app-help-widget main message="What do the colored cells mean?" [usePopup]="true" >
    <span tooltipHtmlContent>
        Each <b>gray cell</b> indicates one experiment day, and each <b>colored cell</b> indicates the <i>number of items</i> captured within a time window with the length of 1/4 day.
    </span>
  </app-help-widget>
  <div main class="flex-container flex-align-items-center">
    <mat-form-field>
      <mat-select [(value)]="sortMethodIndex" (selectionChange)="onSortMethodChanged($event.value)">
        <mat-option *ngFor="let option of SORT_METHODS; let i = index" [value]="i">
          {{option.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="flex-filler"></div>
    <div class="flex-container flex-align-items-center">
      <small class="right-margin-dot5em flex-align-self-start">Number of Items: </small>
      <div *ngFor="let legendCell of colorLegends()" class="legend-cell">
        <div class="legend-color" [style.background]="legendCell.color"></div>
        <span class="legend-text">{{legendCell.value}}</span>
      </div>
    </div>
  </div>
  <div main class="engagement-visualization-area">
    <table class="table table-data" *ngIf="participantList">
      <tbody class="header">
        <td></td>
        <td></td>
        <td id="x-axis-cell">
          <div class="axis-number" *ngFor="let dayIndex of getDaySequence()" [style.left]="(getDayBlockWidthRatio() * (dayIndex - dayIndexRange[0]) + 0.5*getDayBlockWidthRatio()) * 100 + '%'">{{dayIndex+1}}</div>
        </td>
        <td></td>
      </tbody>
      <tbody>
        <ng-container *ngFor="let participant of participantList; let participantIndex = index; trackBy: trackById">
          <tr class="tracker-row" *ngFor="let tracker of participant.trackingDataList; let trackerIndex = index; trackBy: trackById">
            <th *ngIf="trackerIndex===0" class="participant-name-column" [attr.rowspan]="participant.trackingDataList.length" [matTooltip]="participant.email" [matTooltipPosition]="'above'" >{{participant.alias}}</th>
            <td class="tracker-name-column">{{tracker.trackerName}}</td>
            <td class="tracker-timeline-column">
              <div *ngFor="let dayIndex of getDayIndicesOfTracker(tracker)" [style.width]="(getDayBlockWidthRatio() * 100) + '%'" [style.left]="getDayBlockWidthRatio() * (dayIndex - dayIndexRange[0]) * 100 + '%'"
                class="cell day-cell">
                <div class="cell-filler"></div>
              </div>
              <div *ngFor="let block of getFilteredBlocks(tracker)" class="cell unit-cell" [style.width]="(getDayBlockWidthRatio()/NUM_BLOCKS_PER_DAY)*100 + '%'" 
              [style.left]="((getDayBlockWidthRatio() * (block.day - dayIndexRange[0]) + block.blockIndex/NUM_BLOCKS_PER_DAY * getDayBlockWidthRatio()) * 100) + '%'"
              [matTooltip]="'Item count: ' + block.items.length" >
                <div class="cell-filler" [style.background]="colorScale(block.items.length)"></div>
              </div>
            </td>
            <td class="tracker-count-barchart-column"></td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</app-chart-frame>
