<app-chart-frame title="Engagement" [isBusy]="isBusy">
  <div header>
  </div>
  <app-help-widget main message="What do the colored cells mean?" [usePopup]="true" >
    <span tooltipHtmlContent>
        Each <b>gray cell</b> indicates one experiment day, and each <b>colored cell</b> indicates the <i>number of items</i> captured within a time window with the length of 1/4 day.
    </span>
  </app-help-widget>
  <div main class="flex-container flex-align-items-center">
    <mat-form-field>
      <mat-select [(value)]="sortMethodIndex" (selectionChange)="onSortMethodChanged($event.value)">
        <mat-option *ngFor="let option of SORT_METHODS; let i = index" [value]="i">
          {{option.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="flex-filler"></div>
    <div class="flex-container flex-align-items-center">
      <small class="right-margin-dot5em flex-align-self-start">Number of Items: </small>
      <div *ngFor="let legendCell of colorLegends()" class="legend-cell">
        <div class="legend-color" [style.background]="legendCell.color"></div>
        <span class="legend-text">{{legendCell.value}}</span>
      </div>
    </div>
  </div>
  <div main class="engagement-visualization-area">
    <table class="table table-data" *ngIf="participantList">
      <tbody class="header">
        <td></td>
        <td></td>
        <td id="x-axis-cell">
          <div class="axis-number" *ngFor="let dayIndex of getDaySequence()" [style.left]="(getDayBlockWidthRatio() * (dayIndex - dayIndexRange[0]) + 0.5*getDayBlockWidthRatio()) * 100 + '%'">{{dayIndex+1}}</div>
        </td>
        <td></td>
      </tbody>
      <tbody>
        <ng-container *ngFor="let participant of participantList; let participantIndex = index; trackBy: trackById">
          <tr class="tracker-row" *ngFor="let tracker of participant.trackingDataList; let trackerIndex = index; trackBy: trackById">
            <th *ngIf="trackerIndex===0" class="participant-name-column" [attr.rowspan]="participant.trackingDataList.length" [matTooltip]="participant.email" [matTooltipPosition]="'above'" >{{participant.alias}}</th>
            <td class="tracker-name-column">{{tracker.trackerName}}</td>
            <td class="tracker-timeline-column">
              <div *ngFor="let dayIndex of getDayIndicesOfTracker(tracker)" [style.width]="(getDayBlockWidthRatio() * 100) + '%'" [style.left]="getDayBlockWidthRatio() * (dayIndex - dayIndexRange[0]) * 100 + '%'"
                class="cell day-cell">
                <div class="cell-filler"></div>
              </div>
              <div *ngFor="let block of getFilteredBlocks(tracker)" class="cell unit-cell" [style.width]="(getDayBlockWidthRatio()/NUM_BLOCKS_PER_DAY)*100 + '%'" 
              [style.left]="((getDayBlockWidthRatio() * (block.day - dayIndexRange[0]) + block.blockIndex/NUM_BLOCKS_PER_DAY * getDayBlockWidthRatio()) * 100) + '%'"
              [matTooltip]="'Item count: ' + block.items.length" >
                <div class="cell-filler" [style.background]="colorScale(block.items.length)"></div>
              </div>
            </td>
            <td class="tracker-count-barchart-column"></td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <!--  
  <svg:pattern visualization *ngFor="let pattern of hatchPatterns" [attr.id]="pattern.id" [attr.width]="pattern.size" [attr.height]="pattern.size"
    patternUnits="userSpaceOnUse">
    <svg:path [ngClass]="pattern.pathClass" [attr.d]="'M-1,1 l2,-2 M0,' + pattern.size + 'l' + pattern.size + ',-' + pattern.size + ' M' + (pattern.size-1)+','+(pattern.size+1)+ ' l2,-2'"></svg:path>
  </svg:pattern>
  <svg:g visualization #chartMainGroup [attr.transform]="makeTranslate(Y_AXIS_WIDTH, X_AXIS_HEIGHT)" *ngIf="data">
    <svg:g engagementParticipantGroup *ngFor="let participant of data.participantList let index = index" class="participant"
      [height]="calcHeightOfParticipantRow(participant)" [dayScale]="dayAxisScale" [dayIndexRange]="dayIndexRange" [participantRow]="participant"
      [attr.transform]="makeParticipantRowTransform(participant, index)">
      <svg:text class="participant-alias" font-size="12px" text-anchor="end" dominant-baseline="middle" alignment-baseline="middle"
        [matTooltip]="participant.email" [matTooltipPosition]="'above'" [attr.transform]="makeTranslate(-5-TRACKER_NAME_WIDTH, calcHeightOfParticipantRow(participant)/2)">{{participant.alias}}</svg:text>
      <svg:line class="participant-alias-separator" [attr.x1]="-TRACKER_NAME_WIDTH" [attr.x2]="-TRACKER_NAME_WIDTH" y1="0" [attr.y2]="calcHeightOfParticipantRow(participant)"
        stroke="#b5b5b5" strokeWidth="1"></svg:line>

      <svg:g class="tracker" *ngFor="let tracker of participant.trackingDataList let index = index" [attr.transform]="makeTranslate(0, index * (TRACKER_ROW_HEIGHT + TRACKER_MARGIN))">
        <svg:text class="tracker-name" font-size="10px" dominant-baseline="middle" alignment-baseline="middle" [matTooltip]="tracker.trackerName + ': ' +tracker.itemCountInRange"
          [matTooltipPosition]="'above'" [ellipsis]="TRACKER_NAME_WIDTH-3" [text]="tracker.trackerName" matTooltipPosition="left"
          [attr.transform]="makeTranslate(-TRACKER_NAME_WIDTH+3, TRACKER_ROW_HEIGHT/2)"></svg:text>

        <svg:g class="timeline-container" engagementTimelineContainer [chartHeight]="TRACKER_ROW_HEIGHT" [numBlocksPerDay]="NUM_BLOCKS_PER_DAY"
          [dayScale]="dayAxisScale" [colorScale]="colorScale" [maxItemCountThreshold]="itemCountRangeMax" [dayIndexRange]="dayIndexRange"
          [chartWidth]="timelineChartArea.width" [tracker]="tracker" [attr.transform]="makeTranslate(0,TRACKER_ROW_HEIGHT/2)"></svg:g>
        <svg:g class="count-container" [attr.transform]="makeTranslate(countChartArea.x - Y_AXIS_WIDTH, 0)">
          <svg:rect class="bar-background"
              [attr.height]="TRACKER_ROW_HEIGHT"
              [attr.width]="COUNT_CHART_WIDTH"
              fill="transparent"
              [matTooltip]="tracker.trackerName + ': ' + tracker.itemCountInRange + ' logs'"
              />
          <svg:rect
            class="bar-count"
            pointer-events="none"
            x="0"
            y="0"
            [attr.fill]="trackerColorScale(tracker.trackerInjectionId)"
            [attr.stroke]="toDarkerColor(trackerColorScale(tracker.trackerInjectionId))"
            stroke-width="0"
            [attr.width]="countAxisScale(tracker.itemCountInRange)"
            [attr.height]="TRACKER_ROW_HEIGHT"
          />
        </svg:g>
        
      </svg:g>
    </svg:g>
  </svg:g>
  <svg:g visualization #countAxisGroup [attr.transform]="makeTranslate(countChartArea.x, X_AXIS_HEIGHT)"></svg:g>
  <svg:g visualization #yAxisGroup></svg:g>
  <svg:g visualization #xAxisGroup [attr.transform]="makeTranslate(Y_AXIS_WIDTH, X_AXIS_HEIGHT)"></svg:g>
  !-->
</app-chart-frame>
