.productivity-legend{
  span{
    font-size: 0.8rem;
    font-weight: 500;

    &.label-left{
      margin-right: 0.3rem;
    }

    &.label-right{
      margin-left: 0.3rem;
    }
  }

  .cell{
    width: 1rem;
    height: 1rem;
    display: block;
    margin-left: 1px;
    margin-right: 1px;
  }
}