<div class="text-center vertical-padding-normal" *ngIf="!logs || logs.length === 0">
  <small class="font-weight-bold text-color-lightgray">생산성 기록이 없습니다.</small>
</div>
<div *ngIf="logs && logs.length > 0">
  <div class="flex-container flex-align-items-center">
    <small>전체 로그 수: {{logs.length}}</small>
    <div class="flex-filler"></div>
    <div class="productivity-legend flex-container flex-align-items-center vertical-padding-normal">
      <span class="label-left">보통</span>
      <div class="cell" *ngFor="let i of [0,1,2]" [style.background-color]="productivityColorScale(i)"></div>
      <span class="label-right">매우 생산적</span>
    </div>
  </div>

  <app-productivity-timeline [data]="{'logs':logs, 'omitLogs': omitLogs, 'overrideStartDate': overrideStartDate}"></app-productivity-timeline>

  <div class="columned-chart-group flex-container flex-container-wrap flex-padded-content flex-container-responsive-columns_two">
    <div>
      <app-productivity-entry-per-day [decodedItems]="decodedItems"></app-productivity-entry-per-day>
    </div>
    <div>
      <app-productivity-duration-stacked-bar-chart [decodedItems]="decodedItems"></app-productivity-duration-stacked-bar-chart>
    </div>
    <div>
      <app-productivity-duration-per-variable title="장소별 작업시간" [data]="{'decodedItems': decodedItems, 'variableName': 'location', 'isArray': false}"></app-productivity-duration-per-variable>
    </div>

    <div>
      <app-productivity-duration-per-variable title="기기별 작업시간" [data]="{'decodedItems': decodedItems, 'variableName': 'usedDevices', 'isArray': true}"></app-productivity-duration-per-variable>
    </div>
  </div>

  <div class="standalone-chart">
    <app-productivity-duration-per-variable title="한 일별 작업시간" [data]="{'decodedItems': decodedItems, 'variableName': 'tasks', 'isArray': true }" [chartHeightVariable]="null"></app-productivity-duration-per-variable>
  </div>

  <app-productivity-task-heatmap [decodedItems]="decodedItems"></app-productivity-task-heatmap>



</div>
