<div class="text-center vertical-padding-normal" *ngIf="!logs || logs.length === 0">
  <small class="font-weight-bold text-color-lightgray">생산성 기록이 없습니다.</small>
</div>
<div *ngIf="logs && logs.length > 0">
  <div class="flex-container flex-align-items-center">
    <small>전체 로그 수: {{logs.length}}</small>
    <div class="flex-filler"></div>
    <div class="productivity-legend flex-container flex-align-items-center vertical-padding-normal">
      <span class="label-left">보통</span>
      <div class="cell" *ngFor="let i of [0,1,2]" [style.background-color]="productivityColorScale(i)"></div>
      <span class="label-right">매우 생산적</span>
    </div>
  </div>

  <app-productivity-timeline [productivityColorScale]="productivityColorScale" [logs]="logs"></app-productivity-timeline>

  <div class="flex-container flex-container-wrap flex-padded-content flex-container-responsive-columns_two">
    <div>
      <app-productivity-entry-per-day [decodedItems] = "decodedItems"></app-productivity-entry-per-day>
    </div>
    <div>
      <app-productivity-duration-stacked-bar-chart [decodedItems]="decodedItems"></app-productivity-duration-stacked-bar-chart>
    </div>
    <div>
      <app-productivity-duration-per-location [decodedItems]="decodedItems"></app-productivity-duration-per-location>
    </div>
  </div>

  <div class="flex-container flex-container-wrap flex-padded-content flex-container-responsive-columns_two" style="margin-top:0.8rem">
    
  </div>

</div>
