<div class="flex-container entity-list-container-container">
  <div class="card-body entity-list-container tracker-list-container" *ngIf="plan.trackers && plan.trackers.length > 0">
    <h6>Trackers</h6>
    <div class="tracker-list">
      <app-tracker-view *ngFor="let tracker of plan.trackers; trackBy: trackByEntity" [tracker]="tracker"
        (trackerChange)="emitChange()">
      </app-tracker-view>
    </div>
  </div>
  <div class="card-body entity-list-container trigger-list-container"
    *ngIf="plan.triggers && trackingPlanManager.filterLoggingTriggers().length > 0">
    <h6>Triggers</h6>
    <div class="trigger-list">
      <app-trigger-view *ngFor="let trigger of trackingPlanManager.filterLoggingTriggers(); trackBy: trackByEntity"
        [trigger]="trigger" (flagChange)="emitChange()"></app-trigger-view>
    </div>
  </div>
</div>
