<div class="container">
  <div class="card card-main">
    <div class="card-header">
      Account Profile
    </div>
    <div class="card-body">
        <input id="prevent_autofill" type="text" style="display:none;" value="" name="prevent_autofill">
        <input id="password_fake" type="password" style="display:none;" value="" name="password_fake">
        
        <div class="form-group row flex-container flex-align-items-center">
          <label for="input_alias" class="col-sm-2 col-form-label small">Alias</label>
          <div class="col-sm-10">
            <input [(ngModel)]="alias" type="text" class="form-control" id="input_alias" placeholder="Insert nickname to be displayed to others">
          </div>
        </div>
        <div class="form-group row flex-container flex-align-items-center">
          <label for="input_new_password" class="col-sm-2 col-form-label small">New Password</label>
          <div class="col-sm-5">
            <input [(ngModel)]="newPassword" type="password" class="form-control" id="input_new_password" 
            autocomplete="new-password" 
            placeholder="Insert new password">
          </div>
          <div class="col-sm-5">
            <input [(ngModel)]="newPasswordConfirm" *ngIf="newPassword" type="password" class="form-control"  autocomplete="new-password-confirm" id="input_new_password_confirm"
              placeholder="Confirm new password">
          </div>
        </div>
        <div *ngIf="newPassword" class="form-group row flex-container flex-align-items-center">
          <label for="input_original_password" class="col-sm-2 col-form-label small">Original Password</label>
          <div class="col-sm-5">
            <input autocomplete="new-password-original"  [(ngModel)]="originalPassword" type="password" class="form-control" id="input_original_password" placeholder="Insert original password">
          </div>
        </div>
        <hr>
        <div class="text-right">
          <button mat-raised-button color="primary" [disabled]="!isValid()" (click)="onSubmitClicked()">Change Information</button>
        </div>
    </div>
  </div>
</div>