.color-button {
  width: 1.75rem;
  height: 1.75rem;
  display: block;
  border-radius: 0.4rem;
}

.color-palette-picker {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .color-button {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    cursor: pointer;

    .material-icons {
      color: white;
    }

    .color-element {
      position: absolute;
      left: 0.15rem;
      right: 0.15rem;
      top: 0.15rem;
      bottom: 0.15rem;
      border-radius: 50%;

      &.selected {
        border-radius: 25%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }
    }

    &:hover {
      .color-element {
        border: 2px solid gray;

        &.selected {
          border: none;
        }
      }
    }
  }
}

.button-redirection {
  overflow: hidden;
  margin-left: 1rem;
}
