<div class="address flex-container flex-align-items-center">
  <mat-icon class="material-icons">map</mat-icon>
  <span>4130 Campus Dr, College Park, MD 20740</span>
</div>

<div class="map">
  <img class="dummy-map" src="/assets/omnitrack/google_map_dummy.png">
  <div class="map-border"></div>

  <div class="stick-to-left stick-to-top">
    <button class="map-button round-raised-button-white">
      <mat-icon class="material-icons">my_location</mat-icon>
    </button>
  </div>

  <div class="stick-to-right stick-to-top">
    <button class="map-button round-raised-button-white">
      <mat-icon class="material-icons">add</mat-icon>
    </button>
    <button class="map-button round-raised-button-white">
      <mat-icon class="material-icons">remove</mat-icon>
    </button>
    <button class="map-button round-raised-button-white">
      <mat-icon class="material-icons">crop_free</mat-icon>
    </button>
  </div>

  <div class="stick-to-bottom stick-to-right">
    <button class="map-button round-raised-button-white with-text">
      <mat-icon class="material-icons text-color-primary">pin_drop</mat-icon>
      <span>Adjust</span>
    </button>
  </div>
</div>
