<div class="card-header flex-container flex-align-items-center">
  <span>Click to toggle the restriction status of the features</span>
<div class="flex-filler"></div>
<button mat-button color="primary" [disabled]="!isChanged()" (click)="onApplyClicked()">Apply</button>
</div>
<div class="card-body">
  <div *ngFor="let key of keys" class="key-row flex-container flex-align-items-center">
    <div class="label">{{getFlagName(key)}} <span *ngIf="isFlagChanged(key)===true" class="changed small text-color-lightgray">(changed)</span></div>
    <div class="flex-filler"></div>
    <button type="button" class="btn btn-sm" [class.btn-success]="isFlagLocked(key)===false" [class.btn-danger]="isFlagLocked(key)===true" (click)="setFlag(key, !isFlagLocked(key))">
      <span>{{isFlagLocked(key)===true? 'Not Allowed':'Allowed'}}</span>
    </button>
  </div>
</div>
