.key-row {
  min-height: 40px;
}

.label {
  text-transform: capitalize;
  color: #575757;
  font-size: 0.9rem;
}

.btn-sm{
  font-size: 0.75rem;
  border: none;
}

.btn-danger{
  background: #f86f6b;
}

.btn-success{
  background: #51ba86;
}