.key-row-container {
  overflow: hidden;
  .key-row {
    min-height: 40px;
    padding: 0.5rem 1rem;
  }
}

.child-indicator {
  transform: translate(-0.2rem, -25%);
  font-weight: bold;
  color: #757575;
}

.lock-group {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;

  &:last-child {
    padding-bottom: 0;
  }

  &:first-child {
    padding-top: 0;
  }

  .lock-group-header {
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffaf56;
    border-bottom: 1px solid;
    margin-bottom: 0.5rem;
  }
}

.label {
  color: #575757;
  font-size: 0.9rem;
}

.btn-sm {
  font-size: 0.75rem;
  border: none;
}

.btn-danger {
  background: #f86f6b;
}

.btn-success {
  background: #51ba86;
}
