<div class="property-view-container-vertical">
  <label class="small">{{ title }}</label>
  <div
    cdkDropList
    class="entry-list"
    cdkDropListLockAxis="y"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="entry-row" *ngFor="let entryId of idList" cdkDrag>
      <mat-icon class="material-icons draghandle">drag_indicator</mat-icon>
      <div class="flex-filler"></div>
      <span>{{ getEntryName(entryId) }}</span>
      <button mat-icon-button class="tiny edit-button" (click)="onEditClicked(entryId)">
        <mat-icon class="material-icons">edit</mat-icon>
      </button>
      <button mat-icon-button class="tiny" (click)="onRemoveClicked(entryId)">
        <mat-icon class="material-icons">clear</mat-icon>
      </button>
    </div>
  </div>
  <button mat-button class="mat-button-small" color="accent" (click)="onAddClicked()"><mat-icon class="material-icons">add</mat-icon><span>Add New Entry</span></button>
</div>
