.panel-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  .main-panel-container {
    display: flex;
    flex-direction: row;
    justify-items: stretch;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .preview-panel {
    background-size: 2rem 2rem;
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.25) 1px, rgba(123, 101, 101, 0.02) 1px);
    flex: 1;

    -moz-box-shadow:    inset 0 0 25px rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 0 25px rgba(0,0,0,0.2);
    box-shadow:         inset 0 0 25px rgba(0,0,0,0.2);
  }
}

.form-group {
  margin-bottom: 0;
}

.menu-panel {

  width: 300px;
  min-width: 300px;
  @media screen and (max-width: 1380px) {
    width: 260px;
    min-width: 260px;
  }


  
  & > div {
    padding: 0.75rem 1rem;
  }

  &.child {
    height: 100%;
    overflow-y: auto;
    border-left: 1px solid rgba(126, 126, 126, 0.55);
  }

  .subheader {
    background: #e3e3e3;
    padding: 0.25rem 1rem;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #575757;
  }
}

.sidepanel-container {
  background: white;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  justify-items: stretch;
}
