<div id="header">
  <div class="container ">
    <div class="flex-container flex-align-items-center flex-stretch vertical-padding-normal">
      <img id="main-logo" src="/assets/omnitrack_new_logo.svg">
      <button mat-button [routerLink]="['/research']">Research</button>
    </div>
  </div>
</div>
<div id="main_banner">
  <div class="container" id="banner-content">
    <div class="description">
      <div class="desc_headline">
        OmniTrack for {{platform}}
      </div>
      <div class="desc_message">
        Track what's important for You
      </div>
    </div>

    <div class="btn-download-container">
      <a *ngIf="latestBinary" class="btn btn-dark btn-lg btn-download" [href]="'/api/clients/download?platform=' + latestBinary.platform + '&version=' + latestBinary.version">
        <span class="btn-label btn-label-main">
          Download OmniTrack for {{platform}}
        </span>
        <div class="small btn-label btn-label-sub">
          {{latestBinary.version}}
        </div>
      </a>
    </div>

    <div class="smartphone_wrapper">
      <div class="smartphone_device">
        <img class="slide" src="/assets/smartphone_slide/smartphone_main_attributes.png">
        <img class="slide" src="/assets/smartphone_slide/smartphone_main_services.png">
        <img class="slide" src="/assets/smartphone_slide/smartphone_main_input.png">
        <img class="slide" src="/assets/smartphone_slide/smartphone_main_item.png">
        <img class="slide" src="/assets/smartphone_slide/smartphone_main_visualization.png">
        <img class="slide" src="/assets/smartphone_slide/smartphone_main_trackers.png">
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="text-center footer-text">
      @Copyright 2017-2018 The OmniTrack Team. All Rights Reserved.
  </div>
</div>
