<table class="table table-data">
  <thead>
    <tr class="singleline">
      <th>App Version</th>
      <th>Minimum OS</th>
      <th>File Size</th>
      <th *ngIf="hideChangelogs!==true">Changelog</th>
      <th>Uploaded</th>
      <th>Downloads</th>
      <th *ngIf="useConfirmColumn === true && hasBinariesToPublish() === true"></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr class="singleline hoverable" *ngFor="let binary of binaries">
      <td>{{binary.version}}</td>
      <td>{{binary.minimumOsVersionReadable}}</td>
      <td>{{binary.fileSize | fileSize}}</td>
      <td *ngIf="hideChangelogs !== true">
        <ol *ngIf="binary.changelog" class="changelog-list">
          <li *ngFor="let log of binary.changelog">{{log}}</li>
        </ol>
      </td>
      <td>{{binary.createdAt | date: 'short'}}</td>
      <td>
        <span class="badge badge-info badge-pill">{{binary.downloadCount}}</span>
      </td>
      <td *ngIf="useConfirmColumn === true && hasBinariesToPublish() === true">
        <button *ngIf="binary.needsConfirm === true" type="button" class="btn btn-success btn-sm" (click)="onPublishClicked(binary._id)">Click to Publish</button>
      </td>
      <td class="button-cell">
        <div class="text-right">
          <button mat-icon-button ngxClipboard matTooltip="Copy a shortened URL" (click)="onShortUrlClicked(binary)">
            <mat-icon class="material-icons">link</mat-icon>
          </button>

          <a [href]="makeBinaryDownloadUrl(binary)"
            mat-icon-button>
            <mat-icon class="material-icons">file_download</mat-icon>
          </a>
          <button mat-icon-button (click)="onRemoveBinaryClicked(binary._id)">
            <mat-icon class="material-icons">delete</mat-icon>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
