@import '../../styles.scss';

.header-border{
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 3px;
  display: block;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d81e75+0,cff72e+50,15a8a5+100 */
  background: #d81e75; /* Old browsers */
  background: -moz-linear-gradient(left, #d81e75 0%, #cff72e 50%, #15a8a5 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #d81e75 0%,#cff72e 50%,#15a8a5 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #d81e75 0%,#cff72e 50%,#15a8a5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d81e75', endColorstr='#15a8a5',GradientType=1 ); /* IE6-9 */  
}

.btn.select-experiment{
  border: hidden;
  border-radius: 0px;
  font-weight: 500;
  font-size: 0.8em;
  background: transparent;
  color: #575757;
  height: $research_header_height - 2px;

  &:hover{
    background: #f0f0f0;
  }
}

#research-dashboard-wrapper{
  //padding-left: $research_sidebar_width;
  position: absolute;
  top: $research_header_height;;
  bottom: 0;
  left: 0;
  right: 0;

  @media print{
    padding-left: initial;
    padding-top: initial;
  }

  #research-column-sidebar{
    min-width: $research_sidebar_width;
    background: #393939;
    overflow-y: auto;

    @media print{
      display: none;
    }

    .nav-subtitle{
      text-transform: uppercase;
      color: #9e9e9e;
      font-size: 0.7em;
      padding-bottom: 0.5em;
      padding-top: 0.5em;
      background: rgba(255, 255, 255, 0.05);
      margin-top: 2em;
      font-weight: 500;
      &:first-of-type{
        margin-top: 0;
      }
    }

    .gnb-icon{
      font-size: 1.2em;
      margin-right: 0.5em;
    }
    
  }

  #research_column_main{
    overflow-y: auto;
    .title-header-container{
      margin-bottom: 2em;
      &.hidden{
        margin-bottom: 0;
      }

      .title-header{
        @include main-gradient();
        padding: .5rem 0.9rem;
        border-radius: 0;
  
        &.with-button{
          padding-left: 0.2rem;
        }
  
        .dashboard-title{
          color: white;
          text-transform: uppercase;
          font-size: 1.0em;
          font-weight: 500;
        }
  
        small.dashboard-back-title{
          color: rgba(255,255,255,0.8);
          font-weight: 500;
        }
      }
    }
  }
}

#main-progress-bar{
  z-index: -1;
}

a.nav-link{
  cursor: pointer;
  color: #bfbfbf;
  &:not[href]{
    color: #bfbfbf;
  }
  &:hover{
    color: white;
  }
}

.research-dropdown-button{
  font-size: 0.8rem;
}

.dropdown-header{
  padding-bottom: 0.2rem;
  font-size: 0.7rem;
  padding-top: 0.7rem;
  font-weight: bold;
}

.nav-link{
  border-radius: 0;
  font-size: 0.8em;
  padding-top: 11px;
  padding-bottom: 10px;
  color: #bfbfbf;
  &:not[href]{
    color: #bfbfbf;  
  }

  &.active:visited, &.active {
    background-color: #2fadc2;
  }

  &.active:hover{
    background-color: #2fadc2;
  }

  &:hover{
    color: white;
    background-color: rgba(255,255,255,0.07);
  }

  &.disabled{
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
  }
}