<div class="header">
  <div class="content">
    <div class="logo_container">
      <img class="logo" src="/assets/omnitrack_research_kit_logo.svg">
    </div>
    <div class="heading_container">
      <div class="dropdown experiment"*ngIf="api.getSelectedExperimentId()">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{selectedExperimentName}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item small" (click)="onExperimentSelected(exp.id)" *ngFor="let exp of experimentInfos">{{exp.name}}</a>
        </div>
      </div>
      <!--<button type="button" class="btn btn-info btn-sm" i="plus">Add New Experiment</button>-->
    </div>
    <div class="profile_container">
      <div class="sign_in" *ngIf="!authService.isSignedIn()">
        <button class="btn btn-primary" (click)="goToSignIn()">Sign In</button>
      </div>
      <div class="signed_in_profile" *ngIf="authService.isSignedIn()">
        <div class="information">
          <div class="name font-weight-bold">
            {{authService.currentResearcher.alias}}
          </div>
          <div class="email font-weight-light">
            {{authService.currentResearcher.email}}
          </div>
        </div>
        <button class="btn btn-secondary btn-sm" (click)="onSignOutClicked()">Sign Out</button>
      </div>
    </div>
    <!--<div class="header-border"></div>-->
  </div>
</div>
<div id="main-overlay-container" class="overlay-busy" *ngIf="isLoadingSelectedExperiment">
  <app-busy-overlay class="main-busy" [scale]="0.75"></app-busy-overlay>
</div>
<div id="research_dashboard_wrapper" *ngIf="!isLoadingSelectedExperiment">
  <div id="research_column_sidebar">
    <div class="nav nav-pills flex-column">
      <div class="group" *ngFor="let group of dashboardNavigationGroups">
        <div class="small nav-link nav-subtitle">{{group.name}}</div>
        <a class="nav-link flex-container flex-align-items-center"
          *ngFor="let menu of group.menus" 
          [routerLink] = "['/research/dashboard', api.getSelectedExperimentId(), menu.key]"
          [routerLinkActive] = "['active']"
          >
            <mat-icon *ngIf="menu.icon" class="gnb-icon material-icons">{{menu.icon}}</mat-icon>
            <!--<img class="gnb-icon material-icons" *ngIf="menu.iconPath" [src]="menu.iconPath">
            <mat-icon *ngIf="menu.svgIcon" class="gnb-icon material-icons" [svgIcon]="menu.svgIcon"></mat-icon>-->
            
            <span>{{menu.name}}</span>
          </a>
      </div>
    </div>
  </div>
  <div id="research_column_main">
    <div class="card" class="title-header" [ngClass]="upperHeaderTitle!=undefined? 'with-button':''" *ngIf="headerTitle">
        <div *ngIf="!upperHeaderTitle" class="dashboard-title">{{headerTitle}}</div>
        <div *ngIf="upperHeaderTitle" class="flex-container flex-align-items-center">
          <button mat-icon-button class="margin-right-small text-color-white" [routerLink]="backNavigationUrl"><mat-icon class="material-icons">arrow_back</mat-icon></button>
          <div class="flex-child">
          <small class="dashboard-back-title">{{upperHeaderTitle}}</small>
          <div class="dashboard-title">{{headerTitle}}</div>
        </div>
        </div>
    </div>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>