<ng-container *ngIf="isBusy === false">
  <div class="flex-container flex-align-items-center option-panel">
    <mat-form-field *ngIf="participantPool && participantPool.length > 0">
      <mat-select placeholder="Excluded Participants" [(value)]="excludedParticipantIds" (selectionChange)="onExcludedParticipantSelectionChanged($event)"
        multiple>
        <mat-option *ngFor="let participant of participantPool" [value]="participant._id">
          {{participant.alias}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="flex-filler"></div>
  </div>

  <div class="card card-main" *ngIf="decodedItemsPerParticipant && decodedItemsPerParticipant.length > 0">
    <div class="card-header">Log Processing Summary</div>
    <div class="card-body">
      <p>
        <b>Filtered Log Count: </b> {{decodedItems.length}}
      </p>

      <table class="table table-data">
        <thead class="singleline">
          <th *ngFor="let head of (productivitySummary.tableSubject | async).header">{{head}}</th>
        </thead>
        <tbody>
          <tr *ngFor="let participantRow of (productivitySummary.tableSubject | async).body">
            <td *ngFor="let valueEntry of participantRow; let i = index">
              <ng-container *ngIf="valueEntry.type === 'ratio'">
                <div class="ratio-cell">
                  <div class="ratio-bar whole">

                    <div class="ratio-bar" [style.width]="(valueEntry.value*100) + '%'">
                    </div>
                  </div>
                  <span class="ratio-label-placeholder">
                    {{valueEntry.valueFormatter? valueEntry.valueFormatter(valueEntry.value) :  (valueEntry.value * 100).toFixed(2) + '%'}}
                  </span>
                  <span class="ratio-label">
                      {{valueEntry.valueFormatter? valueEntry.valueFormatter(valueEntry.value) : (valueEntry.value * 100).toFixed(2) + '%'}}
                  </span>
                </div>
              </ng-container>
              <div *ngIf="valueEntry.type !== 'ratio'" [innerHTML]="valueEntry.valueFormatter ? valueEntry.valueFormatter(valueEntry.value) : valueEntry.value"></div>
            </td>
          </tr>

          <tr class="table-active">
            <td *ngFor="let footerEntry of (productivitySummary.tableSubject | async).footer" [innerHTML]="footerEntry"></td>
          </tr>
        </tbody>
      </table>

      <p></p>

      <h6>Excluded Logs</h6>
      <table class="table table-data">
        <tr *ngFor="let entry of excludedItemCountInfo">
          <th>{{entry.reason}}</th>
          <td>{{entry.count}}</td>
        </tr>
      </table>
    </div>
  </div>

  <app-duration-coverage [segments]="48" [logs]="productivityLogs" [participants]="selectedParticipants"></app-duration-coverage>

  <app-productivity-analysis [data] = "{participants: selectedParticipants, productivityLogs: productivityLogs}"></app-productivity-analysis>

  <app-chart-frame title="Distribution of Logged Timestamps Within a Day" [isBusy]="false" *ngIf="decodedItemsPerParticipant">
    <app-logging-time-of-day-chart main title="Total" heightParamOverride="25%" [decodedItems]="decodedItems">

    </app-logging-time-of-day-chart>
    <hr main>
    <div main class="flex-container flex-container-wrap flex-padded-content flex-container-responsive-columns">
      <div *ngFor="let entry of decodedItemsPerParticipant">
        <app-logging-time-of-day-chart [title]="entry.participant.alias" [decodedItems]="entry.decodedItems">

        </app-logging-time-of-day-chart>
      </div>
    </div>
  </app-chart-frame>
  <app-log-delay-histogram [participants]="selectedParticipants" [decodedItems]="decodedItems"></app-log-delay-histogram>

  <app-sessions *ngIf="sessionLogDict" [data]="sessionLogDict" [participants]="selectedParticipants"></app-sessions>

  <app-timestamp-analysis [data]="decodedItemsPerParticipant"></app-timestamp-analysis>
</ng-container>
