.option-panel{
  & > *{
    margin-right: 0.8rem;
    &:last-child{
      margin-right: 0;
    }
  }
}

.ratio-cell{
  position: relative;
  .ratio-bar{
    height: 100%;
    display: block;
    background: rgba(134, 22, 91, 0.3);
    position: absolute;
    z-index: 0;

    &.whole{
      width: 100%;
      background: #f0f0f0;
    }
  }

  .ratio-label{
    padding-left: 0.2rem;
    z-index: 10;
    position: absolute;
    left: 0;
  }
}

.table-cell-clickable-text{
  font-weight: 500;
  font-size: 0.65rem !important;
  border: none;
  padding: 0 !important;
  background: transparent;
  &:hover{
    background: rgba(0,0,0,0.1);
  }
}