<div class="flex-container flex-align-items-center">
  <div class="input-area">
    <span *ngIf="numberStyle.unit && numberStyle.unitPosition === 0" class="unit">{{numberStyle.unit}}</span>
    <span class="digit">0</span>
    <span *ngIf="numberStyle.unit && numberStyle.unitPosition === 2" class="unit">{{numberStyle.unit}}</span>
  </div>
  <div class="button round-raised-button-white">
    <mat-icon class="material-icons">add</mat-icon>
  </div>
  <div class="button round-raised-button-white">
    <mat-icon class="material-icons">remove</mat-icon>
  </div>
</div>
