.main-content {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.5rem;

  .coord {
    display: flex;
    align-items: center;
    padding-right: 0.5rem;

    .coord-label {
      text-transform: uppercase;
      font-weight: bolder;
      color: #575757;
      font-size: 0.6rem;
    }

    .coord-text {
      margin-left: 0.2rem;
    }
  }
}

.btn-sm {
  padding: 0.2rem 0.2rem;
  font-size: 0.5rem;
  line-height: 1;
  margin-left: 0.75rem;
  .material-icons {
    font-size: 18px;
    line-height: 1;
    color: #757575;
  }
}
