.connection-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  .connection-link-icon{
    margin-right: 0.5rem;
  }

  .query-info{
    font-size: 0.75rem;
  }
}