.table-container{
  overflow-x: auto;
}

.cell-value-clickable {
  cursor: pointer;
  padding: 2px 4px;
  display: inline;
  border-radius: 5px;

  &:hover {
    background: #fdffa4;
  }
}

.badge-trigger {
  background: #e9a96c;
  font-weight: bold;
  color: white;
}

.badge-manual {
  background: #6aafbd;
  font-weight: bold;
  color: white;
}

.badge-metadata {
  background: #a0a0a0;
  color: white;
  text-transform: uppercase;
  font-size: 0.5rem;
  font-weight: bold;
}

.badge-enum{
  text-transform: uppercase;
  color: white;
  background: #575757;
}

.enum-true{
  background: #6cbee4;
}

.enum-false{
  background: #d69090;
}

.enum-sampling{
  background: #f8b654;
}

.enum-alarm{
  background: #8cc9ad;
}

.enum-interval{
  background: #c7a8c9;
}

.metadata-column-name{
  text-transform: capitalize;
}
