.cell-value-clickable {
  cursor: pointer;
  padding: 2px 4px;
  display: inline;
  border-radius: 5px;

  &:hover {
    background: #fdffa4;
  }
}

.badge-trigger {
  background: #e9a96c;
  font-weight: bold;
  color: white;
}

.badge-manual {
  background: #6aafbd;
  font-weight: bold;
  color: white;
}

.badge-metadata {
  background: #a0a0a0;
  color: white;
  text-transform: uppercase;
  font-size: 0.5rem;
  font-weight: bold;
}

.metadata-column-name{
  text-transform: capitalize;
}
