@import '../../../styles.scss';

.main-element {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  min-height: 40px;

  &.hoverable:hover {
    background-color: rgba(0, 0, 0, 0.02);
  }

  &.highlighted {
    background: $color_accent;
    color: white;
    font-weight: 500;
    .tree-icon{
      color: white;
    }
  }


  .tree-icon {
    font-size: 18px;
    color: #575757;
    margin-right: 0.25rem;
    cursor: pointer;

    &.opened {}
  }

  .main-content{
  }
}
