.attached-trackers {
  border-top: 1px solid #e6e6e6;

  li {
    padding: 0.75rem;
  }
}

.trigger-body {
  .condition-frame {
    flex: 1;
    padding: 0.5rem;
  }

  app-lock-flag-button {
    margin: 0.5rem;
  }
}

.badge.trigger-type {
  font-size: 0.75rem;
  text-transform: capitalize;
  font-weight: 500;
}

.condition-display {
  .digit-big {
    font-size: 1.2rem;
    font-weight: lighter;
  }

  .digit-small {
    font-size: 0.8rem;
    font-weight: normal;
    margin-left: 0.2rem;
    color: #575757;
  }

  .description {
    color: #939393;
    line-height: 0.8rem;
  }

  .ampm {
    text-transform: uppercase;
  }

  .duration-unit {
    margin-right: 0.4rem;
    margin-left: 0.1rem;
    &:last-child {
      margin-right: 0rem;
    }
  }
}
