<div class="trigger-body flex-container">
  <div class="condition-frame" [ngSwitch]="trigger.conditionType">
    <div *ngSwitchCase="0">
      <div class="badge badge-info trigger-type">{{getTimeTriggerTypeString(trigger.condition.cType)}}</div>
    </div>
  </div>
  <app-lock-flag-button [model]="trigger" [lockType]="isReminder() === true ? 'reminder':'trigger'" (flagChange)="onFlagChanged()"></app-lock-flag-button>
</div>

<div *ngIf="isReminder()===false" class="attached-trackers">
  <label>Trackers</label>
  <ul class="list-group list-group-flush">
    <li class="list-group-item font-color-gray">
      <div class="badge badge-lg badge-light" *ngFor="let trackerId of trigger.trackers">
        <div class="badge-content flex-container flex-align-items-center">
          <div class="circle-inline margin-right-small" [style.background]="getTrackerColorString(findTracker(trackingPackage, trackerId))"></div>
          <span class="text-color-dark">{{findTracker(trackingPackage, trackerId).name}}</span>
        </div>
      </div>
    </li>
  </ul>
</div>
