@import "../../styles.scss";

.participant-group-card{
  
  margin-right: 1em;
  margin-bottom: 1em;

  th:first-child, td:first-child{
    padding-left: 0;
  }
  th:last-child, td:last-child{
    padding-right: 0;
  }

  th:first-of-type, td:first-of-type{
    border-top: hidden;
  }

  .group-name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.card-add-new{
  font-size: 1.2em;
}